span
{
	display:inline-block;
	width:45px;
	height:45px;

}

div[class^="White"],div[class^="Black"]
{
	display:inline-block;
	width: 45px;
    height: 45px;
}

.WhiteKing
{
    background: url('Chess_Pieces.png') 0 0;
}

.BlackKing
{
    background: url('Chess_Pieces.png') 0 45px;
}

.WhiteQueen
{
    background: url('Chess_Pieces.png') -45px 0;
}

.BlackQueen
{
    background: url('Chess_Pieces.png') -45px 45px;
}

.WhiteBishop
{
    background: url('Chess_Pieces.png') -90px 0;
}

.BlackBishop
{
    background: url('Chess_Pieces.png') -90px 45px;
}

.WhiteKnight
{
    background: url('Chess_Pieces.png') -135px 0;
}

.BlackKnight
{
    background: url('Chess_Pieces.png') -135px 45px;
}

.WhiteRook
{
    background: url('Chess_Pieces.png') -180px 0;
}

.BlackRook
{
    background: url('Chess_Pieces.png') -180px 45px;
}

.WhitePawn
{
    background: url('Chess_Pieces.png') -225px 0;
}

.BlackPawn
{
    background: url('Chess_Pieces.png') -225px 45px;
}